---
# Pre-commit configuration
# For details, visit: https://pre-commit.com/hooks.html

ci:
  autofix_prs: false
  skip:
    # These steps run in the CI workflow. Keep in sync.
    - mypy
    - pylint

repos:
  # Codespell for spelling corrections
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=ihs,ro,fo,onlyOnce,astroid
          - --skip="./.*,*.csv,*.json,*.min.js,*.min.css,*.min.html,*.min.xml,*.min.yaml,*.min.yml",*.crt
          - --quiet-level=2
        exclude_types:
          - csv
          - json

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        description: This hook trims trailing whitespace.
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        args: [--markdown-linebreak-ext=md]
      - id: check-toml
      - id: check-json
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: mixed-line-ending

  # Prettier for code formatting
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.6.2
        exclude_types:
          - python
        exclude: ^uv\.lock|\.(css|js)$

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --exclude-files=bumper/web/plugins/api/pim/codePushConfig.json
          - --exclude-files=bumper/web/plugins/api/pim/configGroupsResponse.json
          - --exclude-files=bumper/web/plugins/api/pim/configNetAllResponse.json
          - --exclude-files=bumper/web/plugins/api/pim/productConfigBatch.json
          - --exclude-files=bumper/web/plugins/api/pim/productIotMap.json
          - --exclude-files=bumper/web/plugins/api/pim/productIotMapUnofficial.json
          - --exclude-files=tests/*
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks

  # YAML Linting
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint

  # Dockerfile linting #########################################################
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        args:
          - "--ignore"
          - "DL3018"

  # Python-specific hooks ######################################################
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --unsafe-fixes
          - --line-length=130
          - --exit-non-zero-on-fix
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.1
    hooks:
      - id: pyupgrade
        args: [--py313-plus]

  # Local hooks for mypy and pylint
  - repo: local
    hooks:
      - id: mypy
        name: Run Mypy in Virtualenv
        entry: scripts/run-in-env.sh python3 -m mypy
        language: script
        types: [python]
        require_serial: true
        exclude: (^tests/.+)|(^scripts/.+)|(^configs/.+)
      - id: pylint
        name: Run Pylint in Virtualenv
        entry: scripts/run-in-env.sh python3 -m pylint
        language: script
        types: [python]
        require_serial: true
        exclude: (^tests/.+)|(^scripts/.+)|(^configs/.+)
