---
x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-1}
      memory: ${RESOURCES_LIMITS_MEMORY:-1g}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_add:
    - DAC_READ_SEARCH # Bypasses file read and directory execute permissions (`ls`,`cat`,`find`)
    - SETGID # Allows setting group ID (`setgid`,`newgrp`,`chgrp`,`setregid()`)
    - SETUID # Allows setting user ID (`setuid`,`su`,`sudo`,`passwd`)
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    default: {}
  healthcheck:
    disable: true
  tmpfs:
    - /tmp:rw,nosuid,nodev,noexec,relatime,size=512m
  restart: always

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  mitmproxy:
    # https://hub.docker.com/r/mitmproxy/mitmproxy
    image: mitmproxy/mitmproxy:${VERSION_MITMPROXY:-latest}
    <<: *basic
    deploy:
      <<: *basic-deploy
    ports:
      - target: 8081
        published: 8081
        protocol: tcp
        mode: host
      - target: 1080 # SOCKS v5 proxy :: socks5
        published: 1080
        protocol: tcp
        mode: host
      - target: 8080 # http(s) proxy :: regular
        published: 8080
        protocol: tcp
        mode: host
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ${MITM_PATH:-/tmp}:/mitm
    configs:
      - source: mitm_pem_config
        target: /tmp/ca.pem
        mode: "0444"
      - source: mitm_cmd_script_config
        target: /tmp/mitm-cmd.py
        mode: "0555"
      - source: mitm_mqtt_script_config
        target: /tmp/mitm-mqtt.py
        mode: "0555"
      - source: mitm_dns_script_config
        target: /tmp/mitm-dns.py
        mode: "0555"
    command:
      - "mitmweb"
      - "-vv"
      - "--ssl-insecure"
      - "--web-host"
      - "0.0.0.0"
      - "--set"
      - "web_password=${MITM_WEB_PW:-mitm}"
      - "--set"
      - "connection_strategy=lazy"
      - "--mode"
      - "socks5"
      - "--mode"
      - "regular"
      - "--rawtcp"
      - "--showhost"
      - "--certs"
      - "*=/tmp/ca.pem"
      - "-s"
      - "/tmp/mitm-cmd.py"
      # - "-s"
      # - "/tmp/mitm-mqtt.py"
      - "-s"
      - "/tmp/mitm-dns.py"

################################################################################
################################################################################
################################################################################
networks:
  default:
    driver: ${NETWORK_MODE:-bridge}
    attachable: true
    driver_opts:
      encrypted: "true"

volumes:
  mitm: {}

configs:
  mitm_pem_config:
    file: $PWD/certs/ca.pem
  mitm_cmd_script_config:
    file: $PWD/configs/mitm-cmd.py
  mitm_mqtt_script_config:
    file: $PWD/configs/mitm-mqtt.py
  mitm_dns_script_config:
    file: $PWD/configs/mitm-dns.py
