---
name: Release Drafter

on:
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  workflow_dispatch:

permissions:
  contents: read

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

jobs:
  update_release_draft:
    name: Update Release Draft
    runs-on: ubuntu-latest

    permissions:
      contents: write
      # pull-requests: read

    steps:
      # https://github.com/release-drafter/release-drafter
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
